.navbar-wrapper {
    background: var(--primary);
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    font-size: 14px;
}

.navbar-logo {
    height: 40px;
}
.navbar-logo:hover {
    animation: logoHover 0.8s ease;
    animation-fill-mode: both;
    cursor: pointer;
}

.navbar-center, .navbar-right {
    display: flex;
    align-items: flex-start;
}

.navbar-button {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 14px 20px;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.1s ease;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    align-items: center;
}
.navbar-button:hover {
    transform: scale(1.07);
    background: rgba(0, 0, 0, 0.067);
}

.navbar-button.icon {
    padding: 14px 15px;
}

.navbar-button svg {
    margin-right: 5px;
    font-size: 18px;
}
.navbar-button.icon svg {
    margin-right: 0;
}

.navbar-button.white {
    background: #fff;
    color: var(--primary);
    box-shadow: 0 3px var(--primaryLight);
    padding-bottom: 12px;
}
.navbar-button.white:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px var(--primaryLight);
    background: rgba(255, 255, 255, 0.8);
}
.navbar-button.white:active {
    transform: translateY(2px);
    box-shadow: 0 0 var(--primaryLight);
}

.navbar-user {
    display: flex;
    align-items: center;
}
.navbar-user-button {
    height: 46px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-user-button img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 10px;
}

@keyframes logoHover {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1.08);
    }
    70% {
        transform: scale(1.11);
    }
    100% {
        transform: scale(1.1);
    }
}


/* mobile */
.burger-menu-button {
    display: none;
    box-sizing: border-box;
    height: 46px;
    padding: 0 15px;
}
.burger-menu-button svg {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1100px) {
    .burger-menu-button {
        display: flex;
        margin-right: 15vw;
    }

    .navbar-mobile-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.5);
        z-index: 9999;
        display: none;
    }

    .navbar-center {
        background: var(--backgroundLight);
        height: 100%;
        box-sizing: border-box;
        flex-direction: column;
        width: 250px;
        padding-top: 30px;
        animation: menuOpen .5s ease;
    }
    .navbar-mobile-wrapper.closing .navbar-center {
        animation: menuClose .25s ease both;
    }
    .navbar-center .navbar-button {
        width: 100%;
        box-sizing: border-box;
    }
    .navbar-center .navbar-button:hover {
        transform: none;
    }

    .navbar-mobile-wrapper.open {
        z-index: 9999;
        display: block;
        animation: menuOpenBg .25s ease;
    }
    .navbar-mobile-wrapper.closing {
        animation: menuCloseBg .5s ease both;
    }

    .navbar-user-name {
        display: none;
    }
    .navbar-user-button img {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .burger-menu-button {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .navbar-right .navbar-button {
        font-size: 0;
    }
    .navbar-right .navbar-button svg {
        margin-right: 0;
    }
}

@keyframes menuOpen {
    0% {
        transform: translateX(-450px);
    }
    30% {
        transform: translateX(20px) scaleX(1.15);
    }
    70% {
        transform: translateX(-5px);
    }
    100% {
        transform: none;
    }
}

@keyframes menuOpenBg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menuClose {
    0% {
        transform: none;
    }
    50% {
        transform: translateX(20px) scaleX(1.15);
    }
    100% {
        transform: translateX(-450px);
    }
}

@keyframes menuCloseBg {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}