.navbar-wrapper {
    background: var(--primary);
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    font-size: 14px;
}

.navbar-logo {
    height: 40px;
}
.navbar-logo:hover {
    animation: logoHover 0.8s ease;
    animation-fill-mode: both;
    cursor: pointer;
}

.navbar-center, .navbar-right {
    display: flex;
    align-items: flex-start;
}

.navbar-button {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 14px 20px;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.1s ease;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    align-items: center;
}
.navbar-button:hover {
    transform: scale(1.07);
    background: rgba(0, 0, 0, 0.067);
}

.navbar-button svg {
    margin-right: 5px;
    font-size: 18px;
}
.navbar-button.icon svg {
    margin-right: 0;
}

.navbar-button.white {
    background: #fff;
    color: var(--primary);
    box-shadow: 0 3px var(--primaryLight);
    padding-bottom: 12px;
}
.navbar-button.white:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px var(--primaryLight);
    background: rgba(255, 255, 255, 0.8);
}
.navbar-button.white:active {
    transform: translateY(2px);
    box-shadow: 0 0 var(--primaryLight);
}

.navbar-user {
    display: flex;
    align-items: center;
}
.navbar-user-button {
    height: 46px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-user-button img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 10px;
}

@keyframes logoHover {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1.08);
    }
    70% {
        transform: scale(1.11);
    }
    100% {
        transform: scale(1.1);
    }
}